@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* test only */
:root {
  --color-bg: pink;
  --color-text: black;
  --color-border: red;
}

.dark {
  --color-bg: lime;
  --color-text: white;
  --color-border: blue;
}
